.list {
  margin: 24px 0 0;
  padding: 0;
  list-style: none;
}

.userItem {
  list-style: none;
}

.message {
  margin: 48px auto 0;
  max-width: 540px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #6b6b6b;
}

@media screen and (min-width: 768px) {
  .list {
    margin-top: 32px;
  }

  .message {
    margin-top: 72px;
    font-size: 14px;
    line-height: 1.43;
  }
}
